html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}
.frame {
	height: 100%;
	width: 60%;
	overflow: auto;
	margin: 0px auto;
}
header {
	height: 50px;
	width: 60%;
	background-color: #333;
	position: fixed;
	top: 0px;
	left: auto;
}

.left {
	width: 40%;
	float: left;
	margin: 100px auto;
}
.right {
	width: 40%;
	float: right;
	margin: 120px auto;
}
.picture {
	height: 200px;
	width: 100%;
	background-color: #d8d8d8;

}
footer {
	height: 50px;
	width: 60%;
	background-color: #333;
	position: fixed;
	bottom: 0px;
	left: auto;
}